@{
    ViewData ["Title"] = " Home Page";
    }
    
<head>
    <link rel="stylesheet" type="text/css" href="~/css/stylo.css">
    
    
</head> 
   <header>
        <h1>Agencia de Turismo Autoestima</h1>
        <nav class="navbar navbar-light">
  <a asp-action="index">Home</a>
  <a asp-action="Destino">Destino</a>
  <a asp-action="Promocao">Promoção</a>
  <a asp-action="contato">Contato</a>
</nav>

       <div class="img">
        <img src="img/viajar01.jpg">
    </div>
       
       
    </header>
    
       
        

<body>
    <div class="historia">
        <h1>Nossa Historia</h1><br><br>
        <p> Agencia de Turismo Autoestima foi Fundada em 2021 pelo então estudante full stalk, Sr Alex Batista Dos Santos. Nossa empresa vem desde então mantendo o seu compromisso de bem atender e bem servir. Possuí em seu quadro de colaboradores, profissionais com larga experiência no ramo de turismo e operações, alguns vindos de importantes empresas de aviação aérea e operadoras.
         Estamos capacitados para o pronto atendimento de variados serviços de natureza turística
        </p><br><br>
    </div>
    <div>
        <h3>Pacote de Viadem Internaconal</h3>
        <p>
            É melhor comprar passagens aéreas internacionais com muita antecedência.
        Para não deixar para última hora, o ideal é reservar entre 60 a 120 dias antes.<br>
        </p>
        <p>   Pesquise sobre o clima do destino e os possíveis eventos que rolam na data que você está
        pensando em chegar. Assim dá para pensar em como combinar hospedagem e atividades.
        </p>
        <p>
            De dezembro e janeiro, por exemplo, o inverno é rigoroso na Europa e nos Estados Unidos. Nessa época a busca de passagens tende a ser menor. Já na América do Sul o clima se assemelha bastante ao do Brasil, porém, com inverno mais intenso. Procurando passagens para a paradisíaca Maldivas?
        É mais em conta fechar passagem junto com o hotel.
        </p>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="\img\Caribe Holandes (Aruba).jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Segundo Slide" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Terceiro Slide" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
    
   <div>    
  
        <figure id="img04">
            <img src="img/orlan"/>
            <figcaption>Disney (EUA) - Pacote de Promoção</figcaption>
        </figure>
        <figure id="img05">
            <img src="img/beto carreiro.jpg"/>
            <figcaption>Beto Carreiro (BR) - Pacote em Promoção</figcaption>
        </figure>
        

 </div>

<div class="container">
  <img src="img/images.png">
</div >

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>



